<div class="container">
  <div class="row">
  <div class="col-6">
  <% @games.each do |game| %>
<div class="card-trip">
  <img src="<%= game.picture_url %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= game.address %></h2>
      <p><%= game.city %></p>
      <p><%= game.date %></p>
    </div>
  </div>
</div>
  <% end %>
  </div>
</div>
</div>
