<div class="container">
  <div class="row">
  <% @games.each do |game| %>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= game.city %></h5>
          <p class="card-text"><%= game.address %>.</p>
          <a href="#" class="btn btn-primary">Find the game</a>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>