.container {
  width: 590px;
}

.buttons {
  text-align: center;
}

#game_city {
  background-color: white;
  border: black 5px;
  border-radius: 30px;
}

#game_address {
  background-color: white;
  border: black 5px;
  border-radius: 30px;
}

#game_date {
  background-color: white;
  border: black 5px;
  border-radius: 30px;
}
