.container {
  width: 590px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#game_city {
  background-color: white;
  border: black 5px;
  border-radius: 30px;
}

#game_address {
  background-color: white;
  border: black 5px;
  border-radius: 30px;
}

#game_date {
  background-color: white;
  border: black 5px;
  border-radius: 30px;
}

#game_picture_url {
  background-color: white;
  border: black 5px;
  border-radius: 30px;
}
