.show-container {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  position: relative;
}

.show-container > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.controls {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 315px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 25px;
}

.infos {
  margin: 20px 10px 0px 10px;
  display: flex;
  justify-content: space-around;
}


.adress {
  display: flex;
  flex-direction: row;
}

.adress-icon {
  padding: 5px;
  width: 50px;
  align-items: center;
}

.adress-content {
  padding: 5px;
  align-items: center;
}

.show-date {
  display: flex;
  flex-direction: row;
}

.date-icon {
  padding: 5px;
  width: 50px;
  align-items: center;
}

.date-content {
  padding: 5px;
  align-items: center;
}

#review_rating {
  border-radius: 30px;
}

#comments {
  padding: 20px 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.comment {
  border-bottom: solid grey 2px;
  margin-bottom: 10px;
  padding: 20px 10px;
}

.comment-player {
  border-bottom: solid grey 2px;
  margin-bottom: 10px;
  padding: 20px 10px;
  display: flex;
  align-items: flex-end;
  background-color: pink;
}

#new_review {
  margin-bottom: 10px;
  padding: 20px 10px;
}

.show-container img {
  object-fit: cover;
}
