.show-container {
  background-color: greenyellow;
  display: inline-flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls i {
  background-color: white;
  border: gray;
  border-radius: 30px;
  width: max-content;
  margin-bottom: 5px;
}

.controls a {
  text-decoration: none;
  color: black;
}

.address {
  background-color: blue;
}

.date {
  background-color: yellow;
}

.image {
  background-color: red;
  width: 150px;
}
