.create-game-button {
  color: orange;
  padding: 8px 24px;
  border-radius: 50px;
  background: black;
  transition: background 0.3s ease;
  text-decoration: none;
}

.create-game-button :hover {
  text-decoration: none;
  color: orange;
}

.home-button {
  color: black;
  border-color: orange;
  border-radius: 50px;
  text-decoration: none;
  border: 5px;
}
