.create-game-button {
  color: orange;
  padding: 8px 24px;
  border-radius: 50px;
  background: black;
  transition: background 0.3s ease;
  text-decoration: none;
}

.create-game-button a {
  text-decoration: none;
  color: inherit;
}




.find-my-game {
  color: black;
  padding: 16px 24px;
  border-radius: 50px;
  background: orange;
  transition: background 0.3s ease;
  font-weight: bold;
  text-decoration: none;
}

.find-my-game:hover {
  opacity: 1;
  color: lightgray;
}

.navbar-button {
  color: black;
  padding: 16px 24px;
  border-radius: 2px;
  background: orange;
  transition: background 0.3s ease;
  font-weight: bold;
  margin-left: 50px!important;
  text-align: center;
  text-decoration: none;
}

li.navbar-button > a {
  color: black;
  text-decoration: none;
}

.navbar-search {
  color: orange;
  padding: 16px 24px;
  border-radius: 2px;
  background: lightgray;
  transition: background 0.3s ease;
  font-weight: bold;
}

#accept-btn {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgba(31, 221, 136, 0.7);
  transition: background 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  text-align: center;
}

#accept-btn a:hover {
  background: #1BCB7F;
  color: white;
}

#reject-btn {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgba(253, 17, 22, 0.7);
  transition: background 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  text-align: center;
}

#reject-btn a:hover {
  background: rgba(253, 17, 22, 1);
  color: white;
}
