.create-game-button {
  color: orange;
  padding: 8px 24px;
  border-radius: 50px;
  background: black;
  transition: background 0.3s ease;
}

.find-my-game {
  color: black;
  padding: 16px 24px;
  border-radius: 50px;
  background: orange;
  transition: background 0.3s ease;
  font-weight: bold;
}

.navbar-button {
  color: black;
  padding: 16px 24px;
  border-radius: 2px;
  background: lightgray;
  transition: background 0.3s ease;
}
