.card-playground {
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50px;
}

/* added */

.card-trip {
  overflow: hidden;
  background-color: black;

  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card-trip:hover {
opacity: 0.6;
transform: translate(0, -5px);

&__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
}

}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  transition:0.5s;

}

.card-trip > img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:0.6;
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
  background-color: black;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
}



/* added */

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.card-bottom > a {
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}
