// .card-trip {
//   overflow: hidden;
//   background-color: transparent;
//   opacity: 0.8;
//   border-radius: 10px;
//   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
// }

.card-trip-image {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-trip-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  background: #CCCC;
  opacity: 0.9;
}

.card-trip-info p {
  font-size: 16px;
  margin: 0;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
  background: #CCCC;
  opacity: 0.9;
}


.card-bottom p {
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.show-card {
  border-radius: 10px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 80px 20px;
}

.show-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.show-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.show-message {
  border-top: solid gray 2px;
  margin-top: 8px;
}

.card-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// .card-trip-image:hover {
//     opacity: 0.8;
//     transform: translate(0, -5px);
//     background-color: transparent;
//     box-shadow: none;
//     filter: grayscale(0.4);
//     -webkit-filter: grayscale(0.4);
// }


.card-trip-image:hover {
  filter: grayscale(0.9);
  -webkit-filter: grayscale(0.9);

  .card-trip-info {
    transform: translateY(-80px);
    text-align: center;
    background-color: transparent;
    opacity: 1;
  }

  .card-trip-info p {
    background-color: transparent;
    opacity: 1;
    color: white;
  }

  .card-trip-info H2 {
    background-color: transparent;
    opacity: 1;
    color: white;
  }

  .card-trip-info H1 {
    display: block;
    color: white;
    font-weight: bold;
  }
}

.card-trip-info H1 {
  display: none;
}
// .card-trip-info H1 {
//   display: hidden;
// }

//   .card-bottom {
//     transform: translateY(-150px);
//     font-weight: bold;
//     text-align: center;
//   }

//   .card-bottom > p {
//     font-size: 24px;
//     text-align: center;
//     font-weight: bold;
//   }
//


 /*  .card-trip > img {
    -webkit-box-reflect: none;
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(1.1);
  } */




// .main-card > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
//   opacity: 1;
//   // -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
// }
