.navbar-lewagon {
  justify-content: space-between;
  background: black;
  opacity: 0.8;
}



.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// hauteur de la navbar
.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  height: 80px;
}

.form-control {
  border-radius: 30px;
}

#navbar-search {
  border-radius: 30px;
  color: black;
}

.collapse {
  flex-grow: 0;
}
